body {
    margin: 0;
}

.header-container {
    background-color: gray;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 64px;
    font-weight: 100;
    color: black;
    margin: 0;
}

.list-container {
    text-align: center;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

ul {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 24px;
    display: inline-block;
    text-align: left;
}

.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    font-size: 18px;
    border-collapse: collapse;
    border: 2px solid;
}

td, th {
    border: 1px solid;
    padding: 10px 20px;
}

.source-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

a {
    font-size: 24px;
}
